%cover {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

%center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin ratio ($height, $width) {
  font-size: 0;
  overflow: hidden;
  position: relative;

  &:after {
    content: '';
    display: inline-block;
    padding-top: $width / $height * 100%;
    width: 100%;
  }
}


@function z($name) {
  @if index($z-indexes, $name) {
    @return (length($z-indexes) - index($z-indexes, $name)) + 1;
  } @else {
    @warn 'There is no item "#{$name}" in this list; Choose one of: #{$z-indexes}';

    @return null;
  }
}


@mixin gradient{
  background: linear-gradient(90.26deg, #07A76F -20.04%, #8ECA45 125.32%);
}

@mixin border_lr{
  border-left: 1px solid $green;
  border-right: 1px solid $green;
}

@mixin border_tb{
  border-top: 1px solid $green;
  border-bottom: 1px solid $green;
}


@mixin gradient_text {
  background-color: black;

  background: linear-gradient(90.26deg, #07A76F -20.04%, #8ECA45 125.32%);

  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
