
$size_title: 72px;
$size_text: 22px;
$size_heading: 20px;
$size_small: 18px;
$size_xsmall: 14px;
$size_quote: 60px;

$spacing:15px;
$spacing_left:15vw;
$text_container: 800px;
$text_highlight_container: 1000px;
$spacing_left_highlight: calc(#{$spacing_left} - 100px);
$header_width: calc( #{$text_container} + #{$spacing_left});

$green: #21AE68;
$white: #F9F9F9;
