body{
  font-size: $size_text;
  font-family: "sans-regular";
  background: #F9F9F9;
}

a{
  color:black;
}

strong{
  font-family: "sans-medium"
}

.line{
  height: 1px;
  @include gradient;
  width:100%;
}

.hero{
  height: 100vh;
  width:100%;
  background: 0;
  position: relative;
  overflow: hidden;
  .background_image{
    position: absolute;
    z-index: -1;
    object-fit: cover;
  }
  .img_left{
    width:15vw;
    min-height: 100%;
  }
  .img_right{
    width: calc(100vw - (15vw + 600px));
    right: 0;
    min-height: 100%;
  }
}

.hero_heading{
  position: absolute;
  left: calc(15vw - 0px);
  width: 600px;
  max-width: 100%;
  height: 100%;
  background: $white;
  // padding: $spacing;
}

.hero_heading_top{
  .row{
    padding: $spacing;
    position: relative;
    display: flex;
    span{
      @include gradient;
      padding: 3px 10px;
      border-radius: 20px;
      color:$white;
      font-size: $size_xsmall;
    }
    p{
      font-family: "serif-regular-italic";
      & strong{
        font-family: "serif-xbold"
      }
    }
    img, svg{
      position: absolute;
      left: 175px;
      top: -14px;
      width: 70px;
      height: 66px;
    }
  }
}

.hero_heading_container{
  height: 100%;
  @include border_lr;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacing;
}

.hero_heading_title_container{
  @include gradient_text;
  h2{
    font-size: $size_title;
    margin-bottom: $spacing*2;
    font-family: "serif-xbold"
  }
  p{
    padding: $spacing 0;
    @include border_tb;
    font-family: "serif-headline"
  }
}

.scroll{
  position: absolute;
  bottom: $spacing;
  right: $spacing;
  transition: .2s ease;
  z-index: 999;
  cursor: pointer;
  &:hover{
    rect{fill:$green;}
  }
}


.header_section{
  @include border_tb;
  @include gradient;
  color:$white;
}

.header_section{
  width:$header_width;
  max-width: 100%;
}
.header_container{
  display: flex;
  align-items: center;
  .line_left{
    width:$spacing_left;
    padding: $spacing;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
      height: 1px;
      background: $white;
      width:100%;
    }
  }
  .header_title{
    padding: $spacing;
    padding-left: 0;
    h3{
      padding-left: $spacing;
      border-left:1px solid $white;
      text-transform: uppercase;
    }
  }
}

.section{
  width: $text_container;
  height: 100%;
  max-width: 100%;
  margin: 0 auto 0 $spacing_left;
  .section_container{
    padding: 0 $spacing;
    margin: $spacing 0;
    @include border_lr;
  }
}

.droptext{
  float: left;
  margin-right: $spacing;
}

.text_container{
  .paragraph{
    padding: $spacing*3 0;
    line-height: 1.4;
    & p:not(:last-child){
      margin-bottom: $spacing*2;
    }
  }
}
.no-margin-bottom{margin-bottom: 0 !important;}

.text_highlight_container{
  width: $text_highlight_container;
  margin: 0 auto 0 $spacing_left_highlight;
  border-radius: 10px;
  max-width: 100%;
  @include gradient;
  p{
    width: $text_container;
    max-width: 100%;
    margin-left: 100px;
    padding: $spacing*2 $spacing;
    margin-bottom: $spacing*2;
    @include border_lr;
    border-color:$white;
    color:$white;
    line-height: 1.4;
    span{
      float: left;
      color:black;
      font-size: 16px;
      background: $white;
      border-radius: 50px;
      padding: 5px $spacing;
      line-height: 1;
    }
    img{
      float: left;
      margin-right: $spacing/2;
      height: 27px;
    }
  }
}


.section_title_container{
  display: flex;
  width:85%;
  border-bottom:1px solid $green;
  padding-bottom: $spacing;
  img{
    margin-right: $spacing;
    width:50px;
    height: auto;
  }
  h4{
    text-transform: uppercase;
    @include gradient_text;
    font-family: "sans-medium";
  }
  p{
    color:#C5C5C5;
  }
}

.quote_container{
  h2{
    font-size: $size_quote;
    text-transform: uppercase;
    padding: $spacing*3 0;
    @include gradient_text;
    font-family: "serif-headline";
    line-height: 1.1;
    &.last-quote{
      font-size: 50px;
    }
  }
}


.info_section{
  .info_container{
    padding: $spacing;
    @include border_lr;
  }
}
.info_title_container{
  width: 80%;
}


#first_illu{
  .section_title_container{
    img{
      min-width:50px;
      height: 100%;
    }
  }
  .illustration_container{
    padding: $spacing*4 0;
    img{
      width:110%;
      max-width: unset;
      height: auto;
    }
  }
}

#second_illu{
  .illustration_container{
    padding: $spacing 0;
    img{
      width: calc(100% + 25px);
      max-width: unset;
      height: auto;
    }
  }
}
#third_illu{
  .illustration_container{
    padding: $spacing 0;
    img{
      width: 85%;
      margin-left: 10%;
      margin-bottom: -10%;
      max-width: unset;
      height: auto;
    }
  }
}

#number_illu{
  .illustration_container{
    padding: $spacing 0;
    padding-bottom: $spacing*2;
    margin-top: $spacing;
    img{
      width: 100%;
      max-width: unset;
      height: auto;
    }
  }
}


.map_section{
  height: 100vh;
  display: flex;
  .col_left_map{
    width: 33.33%;
    background: $white;
    border-right:1px solid $green;
    .col-container{
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
  .col_right_map{
    width:66.66%;
  }
}

.map_navigation{
  width:40%;
}
.map_flyto{
  width:60%;
}
.map_navigation{
  border-right:1px solid $green;
}



.map_heading{
  padding: $spacing;
  display: flex;
  img{margin-right: 10px;}
  @include border_tb;
  border-top: none;
  h4{
    @include gradient_text;
    text-transform: uppercase;
    font-size: $size_small;
    font-family: "sans-medium"
  }
}
.map_description{
  padding: $spacing;
  margin-top: $spacing*3;
  font-size: 18px;
  line-height: 1.4;
}
.map_info{
  padding: $spacing;
  font-size: 16px;
  color: #C5C5C5;
  height: 100%;
  display: flex;
  align-items: flex-end;
  line-height: 1.4;
}


.credits{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing*6 $spacing;
  @include gradient;
  li{
    margin-bottom: $spacing;
    color:white;
  }
}

.mapboxgl-popup{
  .mapboxgl-popup-content{
    border-radius: 0;
    border:1px solid $green;
    font-family: "sans-medium";
  }

  .mapboxgl-popup-tip{
    display: none;
  }
}

// map tabs


.map_navigation{
  padding: $spacing*3 $spacing;
  display: flex;
  flex-direction: column;
}

.tab_content_container{
  height: 100%;
}

.tab_heading{
  display: flex;
  border-bottom: 1px solid $green;
  margin-bottom: $spacing;
  padding-bottom: $spacing;
  .tab_num{
    width:35px;
    height: 35px;
    @include gradient;
    color:$white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h3{
    @include gradient_text;
    margin-left: $spacing;
    font-family: "sans-medium"
  }
}

.tab_content{
  p{
    max-width: 90%;
    margin-left: 10%;
    border-left: 1px solid $green;
    padding-left: $spacing;
    line-height: 1.4;
  }
}


.tabcontent {
  display: none;
}

.tab{
  display: flex;
  justify-content: center;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tablinks{
  &:hover{
    opacity: .6;
    path{fill:$green;}
  }
  &.active{
    path{
      fill:$green;
    }
  }
}

.tabcontent {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.mobile{display: none;}
.desktop{display: block;}

@media screen and (max-width: 900px) {

  .mobile{display: block;}
  .desktop{display: none;}


  body{
    font-size: 18px;
  }
  .line{
    width: calc(100% - 30px);
    margin-left: $spacing;
  }


  .hero{
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    .img_left{
      display: none;
    }
    .img_right{
      position: relative;
      width:100%;
    }
  }

  .hero_heading{
    left: 0;
    position: relative;
    width:100%;
    .hero_heading_container{
      margin: $spacing/2;
      margin-bottom: 0;
      padding: $spacing/2;
      padding-bottom: 0;
    }
    .hero_heading_top{
      margin-bottom: $spacing*5;
      .line{
        width: 100%;
        margin-left: 0;
      }
      .row{
        padding: $spacing/2 $spacing;
        svg{
          position: absolute;
          left: 143px;
          top: -9px;
          width: 53px;
          height: 54px;
        }
      }
    }
  }

  .hero_heading_title_container{
    h2{
      font-size: 50px;
      line-height: 1;
      margin-bottom: $spacing;
    }
  }


  .header_section{
    margin-bottom: $spacing/2;
  }
  .header_container{
    .line_left{display: none;}
    .header_title{
      h3{
        margin-left: $spacing/2;
        padding-left: $spacing/2;
      }
    }
  }

  .quote_section{
    .section_title_container{
      width:100%;
    }
    .quote_container{
      h2{
        font-size: 40px;
        padding: $spacing/2 0;
      }
    }
  }

  .text_container .paragraph{
    padding: $spacing 0;
  }

  .section{
    margin: 0;
    width:100%;
    .text_container{
      margin: $spacing $spacing/2;
      padding: 0 $spacing/2;
    }
    .section_container{
      margin: $spacing $spacing/2;
      padding: 0 $spacing/2;
    }
  }
  .section_title_container{
    width:100%;
  }

  .info_section{
    .info_container{
      margin: $spacing $spacing/2;
      padding: 0 $spacing/2;
    }
  }

  #first_illu .illustration_container img{
    width:100%;
    max-width: 500px;
    margin: 0 auto;
  }
  #second_illu .illustration_container{
    padding: $spacing/2;
    img{
      width:100%;
      max-width: 500px;
      margin: 0 auto;
      margin-top: $spacing/2
     }
  }

  #third_illu .illustration_container img{
    width: 90%;
    margin-left: 5%;
    margin-bottom: -10%;
  }

  .text_highlight_container{
    margin: 0;
    padding: $spacing/2;
    border-radius: 0;
    p{
      margin: 0;
      padding: $spacing/2;;
    }
  }

  .map_section{
    height: unset;
    flex-direction: column;
    .col_left_map{
      width:100%;
      padding: $spacing/2;
      border-right: 0;
    }
    .col_right_map{
      width:100%;
      height: 100vh;
    }

    .map_navigation{
      width:100%;
    }
    .map_flyto{
      width:100%;
      height: 100vh;
    }

  }

  .credits{
    margin-top: $spacing/2;
    padding: $spacing*3 $spacing;
  }


}
